@use '../../functions.scss' as *;

.container{
        padding-block: pix-rem(32);
        .logos{
                margin-top: pix-rem(40);
                display: flex;
                justify-content: space-between;
                align-items: center;
                
        }
        .title{
                text-align: center;
                font-size: pix-rem(32);
                font-weight: 600;
        }
        
}
